-i https://pypi.org/simple/
aniso8601==7.0.0
click==7.1.2
flask-graphql==2.0.1
flask-marshmallow==0.11.0
flask-sqlalchemy==2.4.1
flask==1.1.1
graphene-sqlalchemy==2.2.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==1.0.0 ; python_version >= '3'
gunicorn==20.0.4
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
marshmallow-sqlalchemy==0.22.3
marshmallow==3.10.0
promise==2.3
rx==1.6.1
singledispatch==3.6.1
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.8
werkzeug==1.0.1
zipp==3.4.1
